

.agenda__main-content {
    display: flex;
    flex-direction: column;
}

.agenda__sidebar {
    background-color: $dark-grey;
    color: white;
    display: flex;
    flex-direction: column;
    // height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    // width: 450px;
}

.agenda__sidebar-navbar {
    display: flex;
    justify-content: space-between;
}

.agenda__sidebar-navbar h3 {
    font-weight: lighter;
}

.agenda__new-entry {
    // align-items: center;
    // cursor: pointer;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // margin-top: 30px;
    // width: 100%;
    background-color: #0066ff;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    padding: 4px;
    // position: fixed;

    // transition: color .3s ease;
    background-color: rgb(0, 102, 255);
   

    &:hover {
        color: darken($color: white, $amount: 20);
    }
    
}

.agenda__entries {
    flex: 1 1 auto;
    margin-top: 30px;
}

.agenda__entry {
    background-color: white;
    border-radius: 4px;
    color: $dark-grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    // margin-right: 14px;
    overflow: hidden;
}

.agenda__entry-picture {
    height: 75px;
    width: 75px;
}


.agenda__entry-body {
    padding: 10px;
}

.agenda__entry-title {
    font-size: 14px;
    font-weight: bold;
}

.agenda__entry-content {
    font-size: 10px;
}

.agenda__entry-date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.agenda__entry-date-box span{
    font-size: 12px;
}

.fa-user-ninja {
    color: rgb(250, 237, 237);
}