.agenda__main-content {
    display: flex;
    flex-direction: column;
}

.agenda__bar {
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.agenda__bar-navbar {
    display: flex;
    justify-content: space-between;
}

.agenda__bar-navbar h3 {
    font-weight: lighter;
}

.name-container {
    display: flex;
    flex-direction: row;
}

.green-cube {
    width: 20px;
    height: 20px;
    background: $primary;
    background: radial-gradient(circle, rgba(82,146,125,1) 0%, rgba(255,255,255,1) 76%, rgba(73,146,116,1) 90%, rgba(65,146,108,1) 100%);    border-radius: 50px;
    margin-top: 3px;
}

.green-cube-medium {
    width: 15px;
    height: 15px;
    background: $primary;
    background: radial-gradient(circle, rgba(82,146,125,1) 0%, rgba(255,255,255,1) 76%, rgba(73,146,116,1) 90%, rgba(65,146,108,1) 100%);
    border-radius: 50px;
    margin-top: 3px;
}

.green-cube-small {
    width: 10px;
    height: 10px;
    background: $primary;
    background: radial-gradient(circle, rgba(82,146,125,1) 0%, rgba(255,255,255,1) 76%, rgba(73,146,116,1) 90%, rgba(65,146,108,1) 100%);    border-radius: 50px;
    margin-right: 5px;
    margin-top: 3px;
}

.agenda__new-entry {
    background-color: $primary;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    padding: 6px;
    position: fixed;
    bottom: 5%;
    left: 75%;

    &:hover {
        background-color: darken($color: $primary, $amount: 20);
    } 
}

.agenda__entries {
    flex: 1 1 auto;
    margin-top: 30px;
}

.agenda__entry {
    background-color: white;
    box-shadow: 0 8px 12px $light-shadow;

    /* border-radius: 4px; */
    color: #363636;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    overflow: hidden;
    height: 80px;
    font-size: 1rem;
}

.agenda__entry-body {
    padding: 20px 0px 0px 12px;
}

.agenda__entry-title {
    font-size: 18px;
    font-weight: bold;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
}

.agenda__entry-content {
    font-size: 14px;
}

.agenda__entry-date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px 0px 0;
}

.agenda__entry-date-box span{
    font-size: 12px;
}

.fa-user-ninja {
    color: rgb(250, 237, 237);
}

.col-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note-date {
    padding: 5px 5px 0 10px;
    color: $light-grey;
    font-size: 14px;
    align-self: flex-end;
}

.uploadImage {
    cursor: pointer;
    align-self: flex-end;
    width: 80px;
    height: 40px;
    padding-left: 15px;
}

.agenda__suggest {
    color: $primary;
    padding-left: 10px;
    position: absolute;
    top: 100px;
    left: 5px;
}