
.btn {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    line-height: 52px;
    font-size: 1.1rem;
    margin: 20px 0 20px 0;
    transition: color .3s ease;

    &:focus {
        outline: none;
    }

    &:hover {
        color: darken($color: white, $amount: 10);
    }
    
}


.btn-primary {
    background-color: $primary;
    border-radius: 2px;
    
    &:disabled {
        background-color: lighten($color: $primary, $amount: 15);
    }

    &:hover { 
        background-color: darken($color: $primary, $amount: 15);
    }
}

.btn-danger {
    color: rgb(236, 77, 77);
    width: 50%;
    background-color: unset;
    transition: background-color .3s ease;
    
    &:hover {
        border-bottom: 2px solid rgb(236, 77, 77);
        color: white;
        color: darken($color: rgba(246, 12, 12, 0.685), $amount: 40);
    }
}

.btn-block {
    width: 100%;
}
.auth__google_subtitle {
    margin-bottom: 20px;
}

.btn-logout {
    font-size: 1.2rem;
    color: #363636;
    background-color: unset;
    margin: -5px 15px 0px 0px;
}

.btn-save {
    color: $primary;
    background-color: white !important;
    width: 50%;
    transition: background-color .3s ease;
    &:hover {
        border-bottom: 2px solid $primary;
        color: white;
        color: darken($color: $primary, $amount: 40) !important;
    }
}

.google-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    background-color: $white;
    border-radius: 2px;
    box-shadow: 3px 10px 30px $light-shadow;
    transition: box-shadow .3s ease;

    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        background-color: $white;
        border-color: rgb(221, 230, 238);
        height: 40px;
        font-weight: 500;
    }
    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 50px;
        width: 18px;
        height: 18px;
    }
    .btn-text {
        margin: 11px 40px 0 0;
        margin-left: 70px;
        color: $dark-grey;
        font-size: 14px;
        letter-spacing: 0.2px;
        text-align: center;
    }
    &:hover {
        box-shadow: 0 0 6px $button-active-blue;
    }
    &:active {
        background: $button-active-blue;
    }
}

