.notes__main-content {
    display: flex;
    flex-direction: column;
    height: 92vh;
}


.notes__appbar {
    align-items: center;
    background-color: red;
}


.notes__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}


.notes__title-input, .notes__textarea {
    border: none;

    &:focus{
        outline: none;
    }
}

.notes__title-input {
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.notes__textarea {
    border: none;
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
    height: 50vh;
}

.notes__image img {
    box-shadow: 5px 5px $dark-grey;
    height: 150px;
}

.notes__list {
    display: flex;
    flex-direction: column;
}