* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    width: 100%;
}

.mt-1 {
    margin-top: 5px;
}

.mt-5 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-5 {
    margin-bottom: 20px;
}

.mr-5 {
    margin-right: 5px;
}
.ml-15 {
    margin-left: 15px;
}

.m-0 {
    margin: 0 !important;
}

.pointer {
    cursor: pointer;
}

@media (min-width: 950px) {
    .agenda__bar, .agenda__suggest, .agenda__bar-navbar, .note-date, .notes__content, .col-elements {
        margin: 0 300px 0 300px;
    }

    .btn.agenda__new-entry {
        left: 48%;
        bottom: 20%;
    }
    .col-elements{
        padding-bottom: 60px;
    } 
  }

  @media (max-width: 900px) {
    .auth__box-container {
        box-shadow: none !important;
    }
  }