
// Colors
// $primary: #52927d;
$primary: #3d94839a;
$primary-background:#ffffff83;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$light-shadow:#e7f0ed;

$white: #fff;

$button-active-blue: #21609b3a;


